// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
// Font-awesome
@import "node_modules/font-awesome/scss/font-awesome";
// Plugin
// @import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";
// @import "node_modules/bootstrap-datetimepicker-sass/src/sass/bootstrap-datetimepicker";
// animate-scss
@import "node_modules/animate.scss/vendor/assets/stylesheets/animate";
// themify-icons
@import "node_modules/themify-icons-scss/scss/themify-icons";
a {
    color: $tag-a;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $tag-a-focus;
}

a:focus {
    outline: none;
}

hr {
    border-top: 1px solid $tag-hr;
}

.text-link:hover,
.text-link:focus {
    text-decoration: underline;
}

.text-white {
    color: $brand-white;
}

.text-dark {
    color: $brand-dark;
}

.text-gray {
    color: $brand-gray;
}

.text-primary {
    color: $brand-primary;
}

.text-success {
    color: $brand-success;
}

.text-info {
    color: $brand-info;
}

.text-warning {
    color: $brand-warning;
}

.text-danger {
    color: $brand-danger;
}

.fade.in {
    opacity: 1;
}

.side-nav {
    width: 280px;
    background-color: $nav-white;
    z-index: 1000;
    top: 0px;
    bottom: 0px;
    position: fixed;
    overflow: hidden;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    .side-nav-inner {
        position: relative;
        height: 100%;
        .side-nav-menu {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            border-right: 1px solid $nav-border-right;
            height: calc(100vh - 65px);
            &:before,
            &:after {
                content: " ";
                display: table;
            }
            &::after {
                clear: both;
            }
            li {
                position: relative;
                display: block;
                &.dropdown {
                    .arrow {
                        position: absolute;
                        right: 50px;
                        line-height: 40px;
                        font-size: 10px;
                        transition: all 0.05s ease-in;
                        -webkit-transition: all 0.05s ease-in;
                        -moz-transition: all 0.05s ease-in;
                        -o-transition: all 0.05s ease-in;
                        -ms-transition: all 0.05s ease-in;
                        @media only screen and (max-width: $break-media-small) {
                            right: 25px;
                        }
                    }
                    .arrow.open a {
                        color: $tag-open-a;
                        .icon-holder {
                            color: $tag-a;
                        }
                        &.arrow {
                            transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                        }
                    }
                    &.open>.dropdown-menu {
                        display: block;
                        .dropdown-menu {
                            padding-left: 20px;
                        }
                        .arrow {
                            line-height: 25px;
                    }
                }
                a {
                    color: $dropdown-a;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $tag-open-a;
                        .icon-holder {
                            color: $tag-a;
                        }
                    }
                }
            }
        }
        .side-nav-menu>li {
            &.dropdown ul.dropdown-menu {
                position: relative;
                width: 100%;
                box-shadow: none;
                border: 0px;
                border-radius: 0;
                padding-left: 50px;
                padding-top: 0px;
                background-color: transparent;
                float: none;
                >li {
                    >a {
                        padding: 10px 15px;
                        display: block;
                        font-size: 14px;
                        &:hover,
                        &:focus {
                            background-color: transparent;
                            color: $tag-open-a;
                        }
                    }
                    &.active a {
                        color: $tag-open-a;
                    }
                }
            }
            >a {
                position: relative;
                display: block;
                padding: 10px 15px;
                font-weight: 500;
                font-size: 15px;
                white-space: nowrap;
                .icon-holder {
                    display: inline-block;
                    height: 35px;
                    width: 35px;
                    line-height: 35px;
                    text-align: center;
                    position: relative;
                    left: 0;
                    margin-right: 14px;
                    font-size: 17px;
                    border-radius: 6px;
                }
            }
        }
    }
    @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
        width: 70px;
        .side-nav-inner {
            .side-nav-menu {
                overflow-x: hidden;
                >li>a .title {
                    display: none;
                }
                li.dropdown {
                    .arrow {
                        opacity: 0;
                    }
                    &.open ul.dropdown-menu {
                        display: none;
                    }
                }
            }
        }
        &:hover {
            width: 280px;
            .side-nav-inner {
                .side-nav-menu {
                    >li>a .title {
                        display: inline-block;
                    }
                    li {
                        &.dropdown .arrow {
                            opacity: 1;
                        }
                        &.open>ul.dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $break-media-small) {
        left: -280px;
        width: calc(280px - 30px);
    }
}

.is-collapsed {
    .header {
        width: calc(100% - 70px);
        @media only screen and (max-width: $break-media-small) {
            width: 100%;
        }
        @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
            width: calc(100% - 280px);
        }
    }
    .side-nav {
        @media only screen and (min-width: $break-media-large) {
            width: 70px;
        }
        .side-nav-inner {
            .side-nav-menu {
                overflow-x: hidden;
                li.dropdown {
                    .arrow {
                        opacity: 0;
                    }
                    &.open ul.dropdown-menu {
                        display: none;
                    }
                }
            }
            .side-nav-menu>li>a .title {
                display: none;
                @media only screen and (max-width: $break-media-small) {
                  display: inline-block;
                }
            }
        }
        &:hover {
            width: 280px;
            .side-nav-inner {
                .side-nav-menu {
                    >li>a .title {
                        display: inline-block;
                    }
                    li {
                        &.dropdown .arrow {
                            opacity: 1;
                        }
                        &.open>ul.dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
            width: 280px;
            .side-nav-inner {
                .side-nav-menu {
                    >li>a .title {
                        display: inline-block;
                    }
                    li {
                        &.dropdown .arrow {
                            opacity: 1;
                        }
                        &.open>ul.dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: $break-media-small) {
            left: 0px;
        }
    }
}

.nav-pills>li>a {
    border-radius: 3px;
    opacity: 0.75;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: $tag-open-a;
    border: 1px solid transparent;
    padding: 5px 15px;
}

.nav-vertical {
    .nav-pills {
        float: left;
        width: 160px;
        padding: 0px 15px;
        display: block;
    }
    .nav-pills>li {
        margin-bottom: 15px;
    }
    .nav-pills>li+li {
        margin-left: 0px;
    }
    .tab-content {
        float: left;
        width: 70%;
        @media only screen and (max-width: $break-media-small) {
          width: 100%;
        }
    }
}

.header {
    display: block;
    height: 65px;
    width: calc(100% - 280px);
    position: fixed;
    padding: 0px;
    z-index: 800;
    background-color: $brand-white;
    border-bottom: 1px solid $nav-border-right;
    margin-bottom: 0px;
    @media only screen and (max-width: $break-media-small) {
        width: 100%;
    }
    @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
        width: calc(100% - 70px);
    }
    .header-container {
        &:before,
        &:after {
            display: table;
        }
        &:after {
            clear: both;
        }
        .nav-left,
        .nav-right {
            position: relative;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0px;
        }
        .nav-left>li,
        .nav-right>li {
            float: left;
        }
        .nav-left>li>a,
        .nav-right>li>a {
            padding: 0 15px;
            line-height: 65px;
            min-height: 65px;
            color: $dropdown-a;
            display: block;
        }
        .nav-left>li>a i,
        .nav-right>li>a i {
            font-size: 18px;
        }
        .nav-left>li>a {
            &:hover,
            &:focus {
                text-decoration: none;
                color: $tag-open-a;
            }
        }
        .nav-right>li>a {
            &:hover,
            &:focus {
                text-decoration: none;
                color: $tag-open-a;
            }
        }
        .nav-left {
            float: left;
            margin-left: 15px;
        }
        .nav-right {
            float: right;
            .dropdown-menu {
                left: auto;
                right: 0;
                >li {
                    width: 100%;
                    >a {
                        line-height: 1.5;
                        min-height: auto;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

.dropdown-toggle:after {
    border: 0px;
    display: none;
}

.content-footer {
    padding: 0px 30px;
    .footer {
        padding: 20px 0;
        font-size: 90%;
        border-top: 1px solid $nav-border-right;
        .go-right {
            float: right;
        }
    }
}

.page-container {
    min-height: 100vh;
    padding-left: 280px;
    @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
        padding-left: 70px;
    }
    @media only screen and (max-width: $break-media-small) {
        padding-left: 0px;
    }
    .main-content {
        padding: 95px 15px 15px 15px;
        min-height: calc(100vh - 60px);
        @media only screen and (max-width: $break-media-small) {
            padding: 85px 5px 5px 5px;
        }
    }
}

.is-collapsed .page-container {
    padding-left: 70px;
    @media only screen and (max-width: $break-media-small) {
        padding-left: 0px;
    }
    @media only screen and (min-width: $break-media-small) and (max-width: $break-media-large) {
        padding-left: 280px;
    }
}

button {
    outline: none;
    box-shadow: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

button:active:focus {
    outline: none;
    box-shadow: none;
}

button.disabled,
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn {
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.btn-default {
    color: $tag-open-a;
    background-color: $brand-white;
    border-color: $btn-br-default;
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
        color: $tag-open-a;
        background-color: $btn-bg-default;
        border-color: $btn-bg-default;
    }
    &:active {
        &:hover,
        &:focus {
            color: $tag-open-a;
            background-color: $btn-bg-default;
            border-color: $btn-bg-default;
        }
    }
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid $nav-border-right;
    color: $input-color;
    .btn {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
    }
}

.card {
    margin-bottom: 30px;
}